<div class="grid grid-cols-3 gap-4 sm:gap-10 bg-top-color w-full">
    <div class="place-self-end h-40 w-40 overflow-hidden sm:rounded-full sm:relative top-10">
        {{ with .Site.Params.profpic }}
        {{ with resources.Get . }}
        {{ $profpic := (.Resize "400x webp").RelPermalink }}
        <img src="{{ $profpic }}">
        {{ end }}
        {{ end }}
    </div>
    <div class="col-span-2 mt-6 sm:mt-10 sm:relative">
        <p class="text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl">
            {{ .Params.name }}
        </p>
        <p class="mt-2 text-2xl font-light md:text-3xl">
            {{ .Params.role}} 
        </p>
    </div>
</div>