<div class="py-3">
    <h2 class="text-lg font-bold text-top-color">Professional Experience</h2>
    <div class="border-2 w-20 border-top-color my-1"></div>
    <div class="flex flex-col">
        <div class="flex flex-col">
            <p class="text-lg font-bold text-gray-700">Netcracker Technology | Software Engineer</p>
            <p class="font-semibold text-sm text-gray-700">2021 - Present</p>
            <p class="font-semibold text-sm text-gray-700 mt-2 mb-1">Key Responsibilities</p>
            <ul class="text-sm list-disc pl-4 space-y-1">
                <li>Working on customer facing product</li>
                <li>Deliverying highly efficient solutions</li>
                <li>Solving critical bugs</li>
            </ul>
        </div>
        <div class="flex flex-col mt-8">
            <p class="text-lg font-bold text-gray-700">TailwindFlex.com | Lead</p>
            <p class="font-semibold text-sm text-gray-700">2020-2021</p>
            <p class="font-semibold text-sm text-gray-700 mt-2 mb-1">Key Responsibilities</p>
            <ul class="text-sm list-disc pl-4 space-y-1">
                <li>Developed usable components</li>
                <li>Solving complex problems</li>
                <li>Solving critical bugs</li>
            </ul>
        </div>
    </div>
</div>