<div class="py-3">
    <h2 class="text-lg font-bold text-top-color">Projects</h2>
    <div class="border-2 w-20 border-top-color my-1"></div>
    <div class="flex flex-col">
        <div class="flex flex-col">
            <p class="text-lg font-semibold text-gray-700">Used Books mobile app</p>
            <p class="font-normal text-sm text-gray-700 mb-1 pl-2">A platform to sell as well as to
                buy used books only for PCCoE College due to this reuse of books will be there
                beneficial for environment also indirectly helps increase communication between
                juniors and seniors.</p>
        </div>
        <div class="flex flex-col">
            <p class="text-lg font-semibold text-gray-700">Parking Automation System</p>
            <p class="font-normal text-sm text-gray-700 mb-1 pl-2">it’s a web application which
                helps you to book your slot for your car just like booking a movie ticket from home.
            </p>
        </div>
    </div>
</div>